body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
  }
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
  }
  
  .star {
    --star-color: var(--primary-color);
    --star-tail-length: 15em;
    --star-tail-height: 4px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 7.36em;
    --top-offset: 94.2vh;
    --fall-duration: 9.751s;
    --fall-delay: 3.844s;
  }
  .star:nth-child(2) {
    --star-tail-length: 6.82em;
    --top-offset: 30.43vh;
    --fall-duration: 7.358s;
    --fall-delay: 9.337s;
  }
  .star:nth-child(3) {
    --star-tail-length: 5.57em;
    --top-offset: 79vh;
    --fall-duration: 11.552s;
    --fall-delay: 0.226s;
  }
  .star:nth-child(4) {
    --star-tail-length: 6.96em;
    --top-offset: 47.54vh;
    --fall-duration: 7.895s;
    --fall-delay: 6.072s;
  }
  .star:nth-child(5) {
    --star-tail-length: 6.05em;
    --top-offset: 7.41vh;
    --fall-duration: 11.1s;
    --fall-delay: 3.621s;
  }
  .star:nth-child(6) {
    --star-tail-length: 5.75em;
    --top-offset: 24.91vh;
    --fall-duration: 8.772s;
    --fall-delay: 4.46s;
  }
  .star:nth-child(7) {
    --star-tail-length: 6.84em;
    --top-offset: 69.93vh;
    --fall-duration: 9.995s;
    --fall-delay: 0.273s;
  }
  .star:nth-child(8) {
    --star-tail-length: 5.56em;
    --top-offset: 48.18vh;
    --fall-duration: 9.594s;
    --fall-delay: 5.948s;
  }
  .star:nth-child(9) {
    --star-tail-length: 6.81em;
    --top-offset: 38.91vh;
    --fall-duration: 7.011s;
    --fall-delay: 0.415s;
  }
  .star:nth-child(10) {
    --star-tail-length: 5.16em;
    --top-offset: 12.85vh;
    --fall-duration: 7.466s;
    --fall-delay: 2.411s;
  }
  .star:nth-child(11) {
    --star-tail-length: 7.19em;
    --top-offset: 0.6vh;
    --fall-duration: 6.285s;
    --fall-delay: 3.226s;
  }
  .star:nth-child(12) {
    --star-tail-length: 5.21em;
    --top-offset: 37.88vh;
    --fall-duration: 11.465s;
    --fall-delay: 4.946s;
  }
  .star:nth-child(13) {
    --star-tail-length: 5.43em;
    --top-offset: 9.01vh;
    --fall-duration: 9.334s;
    --fall-delay: 0.109s;
  }
  .star:nth-child(14) {
    --star-tail-length: 5.77em;
    --top-offset: 37.04vh;
    --fall-duration: 9.661s;
    --fall-delay: 8.754s;
  }
  .star:nth-child(15) {
    --star-tail-length: 5.22em;
    --top-offset: 98.4vh;
    --fall-duration: 9.764s;
    --fall-delay: 4.578s;
  }
  .star:nth-child(16) {
    --star-tail-length: 5.33em;
    --top-offset: 78.24vh;
    --fall-duration: 9.836s;
    --fall-delay: 7.367s;
  }
  .star:nth-child(17) {
    --star-tail-length: 5.56em;
    --top-offset: 60.83vh;
    --fall-duration: 9.262s;
    --fall-delay: 8.794s;
  }
  .star:nth-child(18) {
    --star-tail-length: 7.3em;
    --top-offset: 49.16vh;
    --fall-duration: 11.368s;
    --fall-delay: 5.505s;
  }
  .star:nth-child(19) {
    --star-tail-length: 7.48em;
    --top-offset: 85.69vh;
    --fall-duration: 8.79s;
    --fall-delay: 7.323s;
  }
  .star:nth-child(20) {
    --star-tail-length: 5.57em;
    --top-offset: 31.85vh;
    --fall-duration: 6.704s;
    --fall-delay: 8.009s;
  }
  .star:nth-child(21) {
    --star-tail-length: 5.48em;
    --top-offset: 7.53vh;
    --fall-duration: 7.176s;
    --fall-delay: 6.103s;
  }
  .star:nth-child(22) {
    --star-tail-length: 5.22em;
    --top-offset: 45.72vh;
    --fall-duration: 9.778s;
    --fall-delay: 9.19s;
  }
  .star:nth-child(23) {
    --star-tail-length: 5.93em;
    --top-offset: 99.92vh;
    --fall-duration: 6.146s;
    --fall-delay: 7.306s;
  }
  .star:nth-child(24) {
    --star-tail-length: 5.23em;
    --top-offset: 35.27vh;
    --fall-duration: 9.415s;
    --fall-delay: 7.196s;
  }
  .star:nth-child(25) {
    --star-tail-length: 6.74em;
    --top-offset: 25.36vh;
    --fall-duration: 6.201s;
    --fall-delay: 9.133s;
  }
  .star:nth-child(26) {
    --star-tail-length: 5.92em;
    --top-offset: 34.87vh;
    --fall-duration: 6.049s;
    --fall-delay: 7.653s;
  }
  .star:nth-child(27) {
    --star-tail-length: 5.59em;
    --top-offset: 90.61vh;
    --fall-duration: 7.605s;
    --fall-delay: 8.88s;
  }
  .star:nth-child(28) {
    --star-tail-length: 6.46em;
    --top-offset: 84.48vh;
    --fall-duration: 9.167s;
    --fall-delay: 8.469s;
  }
  .star:nth-child(29) {
    --star-tail-length: 5.4em;
    --top-offset: 29.73vh;
    --fall-duration: 6.833s;
    --fall-delay: 0.426s;
  }
  .star:nth-child(30) {
    --star-tail-length: 5.48em;
    --top-offset: 17.1vh;
    --fall-duration: 11.908s;
    --fall-delay: 1.942s;
  }
  .star:nth-child(31) {
    --star-tail-length: 5.24em;
    --top-offset: 12.99vh;
    --fall-duration: 9.248s;
    --fall-delay: 5.511s;
  }
  .star:nth-child(32) {
    --star-tail-length: 7.2em;
    --top-offset: 95.4vh;
    --fall-duration: 7.972s;
    --fall-delay: 1.139s;
  }
  .star:nth-child(33) {
    --star-tail-length: 6.73em;
    --top-offset: 31.87vh;
    --fall-duration: 8.823s;
    --fall-delay: 4.534s;
  }
  .star:nth-child(34) {
    --star-tail-length: 6.08em;
    --top-offset: 53vh;
    --fall-duration: 11.905s;
    --fall-delay: 5.23s;
  }
  .star:nth-child(35) {
    --star-tail-length: 5.87em;
    --top-offset: 98.18vh;
    --fall-duration: 6.742s;
    --fall-delay: 1.519s;
  }
  .star:nth-child(36) {
    --star-tail-length: 5.11em;
    --top-offset: 62.65vh;
    --fall-duration: 10.937s;
    --fall-delay: 1.428s;
  }
  .star:nth-child(37) {
    --star-tail-length: 6.13em;
    --top-offset: 64.54vh;
    --fall-duration: 9.093s;
    --fall-delay: 7.916s;
  }
  .star:nth-child(38) {
    --star-tail-length: 5.94em;
    --top-offset: 40.4vh;
    --fall-duration: 9.223s;
    --fall-delay: 8.396s;
  }
  .star:nth-child(39) {
    --star-tail-length: 6.88em;
    --top-offset: 18.2vh;
    --fall-duration: 11.872s;
    --fall-delay: 4.227s;
  }
  .star:nth-child(40) {
    --star-tail-length: 5.12em;
    --top-offset: 46.02vh;
    --fall-duration: 7.316s;
    --fall-delay: 6.627s;
  }
  .star:nth-child(41) {
    --star-tail-length: 5.65em;
    --top-offset: 32.45vh;
    --fall-duration: 8.38s;
    --fall-delay: 8.958s;
  }
  .star:nth-child(42) {
    --star-tail-length: 7.49em;
    --top-offset: 81.93vh;
    --fall-duration: 11.925s;
    --fall-delay: 8.027s;
  }
  .star:nth-child(43) {
    --star-tail-length: 6.96em;
    --top-offset: 66.47vh;
    --fall-duration: 10.106s;
    --fall-delay: 6.116s;
  }
  .star:nth-child(44) {
    --star-tail-length: 5.82em;
    --top-offset: 28.77vh;
    --fall-duration: 6.226s;
    --fall-delay: 7.726s;
  }
  .star:nth-child(45) {
    --star-tail-length: 6.86em;
    --top-offset: 65.83vh;
    --fall-duration: 6.828s;
    --fall-delay: 8.947s;
  }
  .star:nth-child(46) {
    --star-tail-length: 6.9em;
    --top-offset: 20.78vh;
    --fall-duration: 6.954s;
    --fall-delay: 8.214s;
  }
  .star:nth-child(47) {
    --star-tail-length: 6.39em;
    --top-offset: 14.28vh;
    --fall-duration: 11.884s;
    --fall-delay: 9.251s;
  }
  .star:nth-child(48) {
    --star-tail-length: 5.42em;
    --top-offset: 56.98vh;
    --fall-duration: 7.677s;
    --fall-delay: 5.687s;
  }
  .star:nth-child(49) {
    --star-tail-length: 5.48em;
    --top-offset: 85.31vh;
    --fall-duration: 8.227s;
    --fall-delay: 4.24s;
  }
  .star:nth-child(50) {
    --star-tail-length: 5.72em;
    --top-offset: 29.92vh;
    --fall-duration: 8.161s;
    --fall-delay: 5.365s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }